<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sahayak</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="navbar">
        <h1>Sahayak</h1><hr>
        <a href="/index">Home</a>
        <a href="/login">Sign in / Register</a> 
        <a href="/profile">Profile</a> 
        <a href="#about-us">About Us</a>
    </div>
    <h1>HOME PAGE BABY!</h1>
    <script src="../script.js"></script>
</body>
</html>
