<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../home.css">
    <link rel="icon" type="image/png" href="../4.png">
    <title>Sahayak</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="home.html"><img src="../4.png"></a>
            <div class="nav-links">

                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="#about-us">About Us</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/register">Login</a></li>
                    <li><a href="/login">Register</a></li>
                </ul>
            </div>
           
        </nav>

        <div class="text-box">
            <h1>Sahayak</h1>
            <h2>YOU'RE SPECIALLY ABLED</h2>
            <P>There is no greater disablity in society <br> than the inability to see a person as more

            </P>
            <a href="" class="herobtn">We're here for all you need!</a>

        </div>

    </section>

    <section class="services">
        <h1>Services we provide</h1>
        <p>This is an overview of the different types of services we provide.</p>

        <div class="row">
            <div class="servicecol">'
                <h3>Personal Assistant</h3>
                <p>We provide you with a professional and well certified assistant who can take care of all your needs and you don't have to worry about a thing!</p>
            </div>
            <div class="servicecol">'
                <h3>Wheelchair service</h3>
                <p>We provide you with a professional and well certified assistant who can take care of all your needs and you don't have to worry about a thing!</p>
            </div>
            <div class="servicecol">'
                <h3>Full time Nurse</h3>
                <p>We provide you with a professional and well certified assistant who can take care of all your needs and you don't have to worry about a thing!</p>
            </div>
        </div>

    </section>

    <section class="hospital">
        <h1>Our Top Providers</h1>
        <p>These are some of our top providers for the specially needed people</p>

        <div class="row">
            <div class="hospitalcol">
                <img src="../med2.jpg">
                <div class="layer">
                    <h3>MEDANTA</h3>
                </div>
            </div>
            <div class="hospitalcol">
                <img src="../apollo.png">
                <div class="layer">
                    <h3>APOLLO</h3>
                </div>
            </div>
            <div class="hospitalcol">
                <img src="../mh2.jpeg">
                <div class="layer">
                    <h3>COMMAND HOSPITAL</h3>
                </div>
            </div>
        </div>

    </section>
    
</body>
</html>