<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sahayak</title>
    <link rel="icon" type="image/png" href="../4.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1 style="text-align:center">Sahayak</h1>
    <div class="navbar">
        <a href="/index">Home</a>
        <a href="/login">Login</a> 
        <a href="#about-us">About Us</a>
    </div>
    <h2>Register</h2>
    <form action="/register" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Register">
    </form>
    <br>
    <h2 th:text="${message}"></h2>
    <a href="/" style="text-align:center">Go back</a>
    <script src="../script.js"></script>
</body>
</html>
