<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sahayak</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="navbar">
        <h1>Sahayak</h1>
        <a href="#home">Home</a>
        <a href="/profile">Profile</a>
        <a href="/index">Login</a>
    </div>
    <h2>Profile</h2>
    <form action="/profile" method="POST">
        <label for="username">Full Name:</label><br>
        <input type="text" id="username" name="name" required><br>
        <label for="password">Age:</label><br>
        <input type="text" id="password" name="age" required><br>
        <label for="username">Gender/Sex:</label><br>
        <input type="text" id="username" name="gender" required><br>
        <label for="username">Disease/Disability:</label><br>
        <input type="text" id="username" name="disease" required><br>
        <input type="submit" value="Submit">
    </form>
    <script src="../script.js"></script>
</body>
</html>
